<% include ./partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">The Node assignment</div>
        <form class="ui form" action="/edit/<%= data._id%>?_method=PUT" method="POST">
          
          <input type="text" value="<%=data.name%>" name="name">
          <hr>
          <input type="email" value="<%=data.email%>" name="email">
          <hr>
          <input type="text"value="<%=data.address%>"name="address">
          <hr>
          <input type="text" value="<%=data.designation%>" name="designation">
          <hr>
          <input type="number" value="<%= data.phone%>" name="phone">
      
            <lable>Intrests</lable><br>
            <input type="checkbox" name="interests" value="<%= data.interests[0]%>"> football<br>
            <input type="checkbox" name="interests" value="<%= data.interests[1]%>" checked> tennis<br>
            <input type="checkbox" name="interests" value="<%= data.interests[2]%>"> Coding<br>
            <input type="checkbox" name="interests" value="<%= data.interests[3]%>" checked> counterstrike <br>
      
            <input type="number" value="<%= data.secretKey%>" name="secretKey">
            <button type="submit">Submit</button>
      
      
      
              </div>
             
          
      
      </form>
      
      
          